*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.grade{
    height: 170px;
    width: 280px;
    padding: 10px;
    background-color: #ddd;
}

input,
button{
    width: 200px;
    height: 30px;
    margin: 10px;
}

button:hover{
    background-color:  black;
    color: white;
    transition: 0.3s;
    border: none;
}